*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #4642b8;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#menu {
    background-color :black;

}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a {
    color: white;
    display: block;
    padding: 15px 60px;
    text-decoration: none;
}
#menu ul li a:hover{
    background-color: yellowgreen;
    color: blue;
    border-radius: 2px;
}
.item-r{
    float: right;
}